*.py[co]
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
media
*.sublime-workspace
*.sublime-project
__pycache__/
.cache
.sass-cache
.coverage
coverage.xml
.tox
.hypothesis
.mypy_cache/
.pytest_cache
nosetests.xml
pip-delete-this-directory.txt
db.sqlite3
db.mysql

